@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #09090B;
    overflow: hidden;
}

.animated-gradient-bg {
    background: linear-gradient(-45deg, #1e3a8a, #0ea5e9, #14b8a6, #9333ea);
    background-size: 400% 400%;
    animation: gradientShift 15s ease infinite;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
